<!DOCTYPE html>
<html>

<head>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <title>Heroku Sample App - Blooming Earth</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" crossorigin=""></script>
</head>

<body>
    <header>
        <div class="container">
            <h1 class="title">Learning Flask</h1>
        </div>
    </header>
    {% block content %} {% endblock %}
</body>

</html>